:root{
    --august:
    linear-gradient(
        90deg,
        #FFF8DC,
        #DAA520,
        #ADFF2F,
        #FF8C00

    )
    ;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    background-color:  #476098;
    /* background-image: linear-gradient(
    45deg,    
    #fff,
    #aaa,
    #aa00da
    ); */
    max-width: 100vw;
}
table,td,th{
  padding: 10px;
  border: solid black;
}
tr{
  /* transition:all 1s linear ; */
}
tr:hover{
 /*  opacity: 0; */
  /* transition:all 1s linear ; */
}
.main{
    
    border: solid black;
    
    
}
header{
    margin: 5px;
    display: grid;
    /* grid practice */
    grid-template-rows: 2fr 1fr;
    gap: 5px;
    grid-row: 2fr;
    
    /* 
    repeat()
    minmax()
    fraction fr
    This grid has two columns and three rows. 
        grid-template-columns: 100px 200px;
        grid-template-rows: 10% 20% 600px;
            the first row is 50 pixels tall (10% of 500), 
            the second row is 100 pixels tall (20% of 500), 
            and the third row is 600 pixels tall.
    */

    grid-column:4fr/span 2 ;
    background-color: black;
    border-radius: 30px 5px;
    padding: 5px;

}
header h1{
    margin: 0;
    padding: 20px;
    /* border: solid white; */
    color: white;
    text-align: center;
    /* font-size: 2em; */
    
}
.expense{
    display: grid;
    grid-area: 
    1/3/
    1/3;
}
.expense h3{
    text-align: center;
    
}

.fin{
    display: grid;
    grid-template:repeat(1, 5fr 1fr)  /2fr 4fr 1fr ;
    padding: 5px;
    gap: 20px 10px;

}
/* 
grid-row-start
grid-column-start
grid-row-end
grid-column-end
*/

.earning{
    grid-area: 
    1/1/
    1/1;
    /* background-color: #8B9862; */
}
.bill{
    grid-area: 
    1/2/
    1/2;
    
}
.balance{

grid-area: 
2/2/
2/4 ;
}

.check{
    grid-area: 
    2/1/
    2/1;
}

div{

    border: solid black;
    padding: 10px;
}
p{
   background: white;
   border: solid black;
   border-radius: 5px;
}
input{
  font-size: em;
}
.go p{
  font-size: em;
}
h3{
  text-align: center;
}
/* Style the rainbow text element. */
.header .month {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
    font-weight: 800;
    font-size: 5em;
  }
  
  /* Add animation on hover. */
  .header .month:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }

  .go{
    display: grid;
  }